[Unit]
Description=Ghost Container
Requires=docker.service
After=docker.service
Requires=nginx.service
After=nginx.service
 
[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull ghost:1.16-alpine
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
    --name %n \
    -v /var/lib/ghost/content:/var/lib/ghost/content \
    -e url=https://dwgill.com \
    -p 127.0.0.1:2368:2368 \
    ghost:1.16-alpine
 
[Install]
WantedBy=multi-user.target
